{% extends '_base_child.html' %}
{% block content %}

<!-- results nav -->
<nav>
    <h3>{{ COPY.content.nav_sidebar_header }}</h3>
    <ul>
        {% for row in COPY.nav %}
        <li><a class="nav-link" href="{{ row.url }}">{{ row.label }}</a></li>
        {% endfor %}
    </ul>
</nav>


<!-- bop -->
<div id="bop"></div>

{% if COPY.bop.footnote %}
<div class="footnotes">
    <p>{{ COPY.bop.footnote|smarty }}</p>
</div>
{% endif %}


<div class="footer">
    {% if COPY.bop.source %}<p>Source: {{ COPY.bop.source|smarty }}</p>{% endif %}
    {% if COPY.bop.credit %}<p>Credit: {{ COPY.bop.credit|smarty }}</p>{% endif %}
<!--     <div class="countdown">
        <span class="update-indicator">Next update: <b class="icon icon-spin3"></b> <span class="text"></span></span>
    </div>
 --></div>
{% endblock %}
