{% extends '_base_child.html' %}

{% block content %}

<!-- results nav -->
<nav>
    <h3>{{ COPY.content.nav_sidebar_header }}</h3>
    <ul>
        {% for row in COPY.nav %}
        <li><a href="{{ row.nav }}">{{ row.label }}</a></li>
        {% endfor %}
    </ul>
</nav>


<!-- electoral -->
<div class="electoral-summary">
    <h3>President</h3>
    <h4>270 electoral votes needed</h4>

    <div id="electoral-totals">
        <div class="total-wrapper"></div>
    </div>

</div>


<!-- bop -->
{% include '_bop.html' %}

{% if COPY.bop.footnote %}
<div class="footnotes">
    <p><strong>Note:</strong> {{ COPY.bop.footnote|smarty }}</p>
</div>
{% endif %}


<div class="footer">
    {% if COPY.bop.source %}<p>Source: {{ COPY.bop.source|smarty }}</p>{% endif %}
    {% if COPY.bop.credit %}<p>Credit: {{ COPY.bop.credit|smarty }}</p>{% endif %}
</div>
{% endblock %}
