{% extends '_base_child.html' %}

{% block content %}

<h1>Liveblog and Big Boards</h2>
<table id="nav-list">
<tr>
    <th class="state">page</th>
    <th class="embed">embed</th>
</tr>
{% for state in NAVBAR.nav %}
<tr>
    {% if state.slug == 'liveblog' %}
    <td><a href="https://apps.npr.org/liveblogs/20181106-elections/#desktop">{{ state.slug }}</a></td>
    <td><textarea readonly><p data-pym-liveblog-loader data-child-src="https://apps.npr.org/liveblogs/20181106-elections/child.html" id="responsive-embed-20181106-elections">Loading...</p><script type="text/javascript" src="https://pym.nprapps.org/npr-pym-liveblog-loader.v2.min.js"></script></textarea></td>
    {% else %}
    <td><a href="https://{{ PRODUCTION_S3_BUCKET }}/{{ PROJECT_SLUG }}/board-{{ state.slug }}#desktop">{{ state.slug }}</a></td>
    <td><textarea readonly><p data-pym-loader data-pym-trackscroll data-child-src="https://{{  PRODUCTION_S3_BUCKET }}/{{ PROJECT_SLUG }}/board-{{ state.slug }}/child.html" id="responsive-embed-{{ state.slug }}">Loading...</p><script type="text/javascript" src="{{ PYM['pym_loader_url'] }}"></script></textarea></td>
    {% endif %}
</tr>
{% endfor %}
<tr>
    <td><a href="https://{{ PRODUCTION_S3_BUCKET }}/{{ PROJECT_SLUG }}/bop-gcu-hp/#desktop">liveblog headlines + balance of power (standalone)</a></td>
    <td><textarea readonly><p data-pym-loader data-child-src="https://{{ PRODUCTION_S3_BUCKET }}/{{ PROJECT_SLUG }}/bop-gcu-hp/child.html" id="responsive-embed-bop-gcu-hp">Loading...</p><script type="text/javascript" src="{{ PYM['pym_loader_url'] }}"></script></textarea></td>
</tr>
<tr>
    <td><a href="https://{{ PRODUCTION_S3_BUCKET }}/{{ PROJECT_SLUG }}/bop-hp/#mobile">balance of power (standalone)</a></td>
    <td><textarea readonly><p data-pym-loader data-child-src="https://{{ PRODUCTION_S3_BUCKET }}/{{ PROJECT_SLUG }}/bop-hp/child.html" id="responsive-embed-bop-hp">Loading...</p><script type="text/javascript" src="{{ PYM['pym_loader_url'] }}"></script></textarea></td>
</tr>
</table>

<h1>State Pages</h2>
<table id="nav-list">
<tr>
    <th class="state">state</th>
    <th class="embed">embed</th>
</tr>
{% for state in NAVBAR.states %}
<tr>
    <td><a href="https://{{ PRODUCTION_S3_BUCKET }}/{{ PROJECT_SLUG }}/state-results/?state={{ state.slug }}#desktop">{{ state.label }}</a></td>
    <td><textarea><p data-pym-loader data-pym-trackscroll data-child-src="https://{{ PRODUCTION_S3_BUCKET }}/{{ PROJECT_SLUG }}/state-results/child.html?state={{ state.slug }}" id="responsive-embed-{{ state.slug }}">Loading...</p><script type="text/javascript" src="{{ PYM['pym_loader_url'] }}"></script></textarea></td>
</tr>
{% endfor %}
</table>

{% endblock %}
