{% extends '_base_child.html' %}

{% block content %}
{{ CSS.push('less/%s.less' % slug) }}
{{ CSS.render('css/rendered/%s.min.css' % slug) }}
<script src="../js/rendered/{{ slug }}.js"></script>
<h2>Get Caught Up</h2>

{% if COPY.get_caught_up.intro_1 %}
<p>{{ COPY.get_caught_up.intro_1 }}</p>
{% endif %}
{% if COPY.get_caught_up.intro_2 %}
<p>{{ COPY.get_caught_up.intro_2 }}</p>
{% endif %}

<ul>
    {% if COPY.get_caught_up.bullet_1 %}<li>{{ COPY.get_caught_up.bullet_1 }}</li>{% endif %}
    {% if COPY.get_caught_up.bullet_2 %}<li>{{ COPY.get_caught_up.bullet_2 }}</li>{% endif %}
    {% if COPY.get_caught_up.bullet_3 %}<li>{{ COPY.get_caught_up.bullet_3 }}</li>{% endif %}
    {% if COPY.get_caught_up.bullet_4 %}<li>{{ COPY.get_caught_up.bullet_4 }}</li>{% endif %}
    {% if COPY.get_caught_up.bullet_5 %}<li>{{ COPY.get_caught_up.bullet_5 }}</li>{% endif %}
</ul>

{% endblock %}
