{% extends '_base_child.html' %}
{% block content %}

<style type="text/css">
#nav-list {
    width: 100%;
}
#nav-list tr:nth-child(even) {
    background-color: #f1f1f1;
}
#nav-list th,
#nav-list td {
    border-bottom: 1px solid #eee;
    padding: 5px;
    text-align: center;
}
textarea {
    width: 300px;
}
</style>

<h3><a href="https://docs.google.com/spreadsheets/d/1Eqp-jei3xFMpUOFJFuMHk8zP8WSGtvCwoo1a21vtloo/edit#gid=2069101029">Navbar spreadsheet</a></h3>


<table id="nav-list">
<tr>
    <th>state</th>
    <th>seamus id</th>
    <th>embed</th>
    <th>window title</th>
    <th>preview link</th>
    <th>scheduled?</th>
</tr>
{% for state in NAVBAR.states %}
<tr>
    <td>{{ state.slug }}</td>
    <td><input value="{{ state.seamusid|int }}" /></td>
    <td><textarea readonly>
        <p data-pym-loader data-child-src="https://apps.npr.org/elections18-graphics/state-results/child.html?state={{ state.slug }}" id="responsive-embed-state-results">Loading...</p><script type="text/javascript" src="https://pym.nprapps.org/npr-pym-loader.v2.min.js"></script>
    </textarea></td>
    <td><textarea readonly>{{ state['window title'] }}</textarea></td>
    <td><a href="{{ state.url }}?live=1">{{ state.seamusid|int }}</a></td>
    <td>{% if (state['scheduled']|string|upper == 'TRUE') %}SCHEDULED{% endif %}</td>
</tr>
{% endfor %}


{% for state in NAVBAR.nav %}
<tr>
    <td>{{ state.slug }}</td>
    <td><input value="{{ state.seamusid|int }}" /></td>
    <td>DONE</td>
    <td>DONE</td>
    <td><a href="{{ state.url }}?live=1">{{ state.seamusid|int }}</a></td>
    <td>{% if (state['scheduled']|string|upper == 'TRUE') %}SCHEDULED{% endif %}</td>
</tr>
{% endfor %}

</table>

{% endblock %}
