@import "electoral-totals";
@import "map";

body {
    padding: 0;
}

.headlines {
    font-family: @gotham;

    h3 {
        font-size: 14px;
        color: @gop;
    }

    h4 {
        font-size: 1em;
        margin: 0.7em 0;
    }

    a {
        color: #444;
    }

    .timestamp {
        font-weight: normal;
        font-size: 0.9em;
        color: @gray-medium;
    }
}
