@import "graphics-base";
@import "navbar";

#electoral-totals {
    width: 50%;
    margin: 0 auto -60px auto;
    font-size: 12px;
    .clearfix();

    h3 {
        margin: 0 0 5px 0;
        font-size: 110%;
        line-height: 1;
    }

    h4 {
        clear: both;
        color: #999;
        font-size: 95%;
        font-style: italic;
        font-weight: normal;
        text-align: center;
        margin: 0;
        padding-top: 6px;
    }

    h5 {
        margin: 0;
        padding: 0;
        font-family: 'Gotham SSm',Helvetica,Arial,sans-serif;
        line-height: 1;
        font-weight: 700;
        -webkit-font-smoothing: antialiased;
    }

    .clinton,
    .trump {
        display: table-cell;
        vertical-align: top;
        text-align: center;
        width: 50%;

        img { width: 32%; }
    }

    .clinton {
        padding-right: 11px;
        border-right: 1px solid #eee;

        img {
            float: left;
            margin-right: 11px;
        }

        h5 { color: @blue2; }
    }

    .trump {
        padding-left: 11px;

        img {
            float: right;
            margin-left: 11px;
        }

        h5 { color: @red2; }
    }

    .electoral {
        h5 { font-size: 300%; }
    }
}


.footnotes {
    margin-top: 11px;
    margin-bottom: 3px;
}

.loading { visibility: hidden; }

.map { position: relative; }

rect {
    .active & {
        stroke: #121212;
        stroke-width: 2px;
    }
}

text {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;

    .cartogram & {
        font-family: 'Knockout 31 4r';
        font-weight: normal;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        -webkit-font-smoothing: antialiased;
        fill: #fff;
        fill-opacity: 0.9;
        text-anchor: middle;

        &.votes {
            fill-opacity: 0.65;
            display: none;

            &.active { display: block; }
        }
    }

    .me &,
    .ne & {
        fill: #999;
        text-anchor: end;
    }
}

.legend {
    text {
        font-size: 10.5px;
        fill: #999;
        font-family: 'Knockout 31 4r';
        font-weight: normal;
        text-transform: uppercase;
        letter-spacing: 0.02em;
        -webkit-font-smoothing: antialiased;

        &.title {
            fill: #666;
            letter-spacing: 0.05em;
        }
    }
}

#tooltip {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
    position: absolute;
    padding: 8px 8px 5px 8px;
    background-color: #fff;
    border: 1px solid #eee;
    display: none;
    max-width: 150px;

    &.active { display: block; }

    h3 {
        font-size: 11px;
        margin: 0 0 3px 0;

        span { color: #666; }
    }
    table {
        width: 100%;
        min-width: 120px;
        padding: 0;
        border-collapse: collapse;
        font-size: 11px;

        tr { vertical-align: top; }
        td {
            border-top: 1px solid #eee;
            padding: 3px 0 3px 0;
            white-space: nowrap;
        }
    }
    .amt { text-align: right; }
    .poll-closing {
        margin: 0;
        font-size: 11px;
        color: #999;
    }
    .precincts {
        margin: 0;
        padding-top: 3px;
        font-size: 10px;
        color: #999;
        font-style: italic;
        border-top: 1px solid #eee;
    }
    b {
        display: block;
        float: left;
        height: 6px;
        width: 6px;
        margin-right: 4px;
        margin-top: 5px;

        &.dem { background-color: @blue2; }
        &.gop { background-color: @red2; }
        &.ind { background-color: @yellow3; }
    }
    .icon-ok {
        margin-left: 3px;
        color: #666;
    }
}


// screen size-specific
@media screen and (min-width: 501px) {
    #electoral-totals { font-size: 10px; }

    .cartogram text {
        font-size: 13px;

        &.small { font-size: 10px; }
        &.votes { font-size: 75%; }
    }

    .legend {
        position: absolute;
        bottom: 0;
        right: 0;
    }

    #county-selector { display: none; }
}

@media screen and (min-width: 601px) {
    #electoral-totals { font-size: 12px; }
}

@media screen and (max-width: 500px) {
    .cartogram text {
        font-size: 17px;

        &.small { font-size: 15px; }
    }
    .active rect { stroke-width: 3px; }

    #county-selector { display: block; }

    #electoral-totals {
        font-size: 9px;
        margin-bottom: -25px;
        width: 150px;

        img { display: none; }
    }
}
