body {
    background-color: #fff;
}

.phantom-* {
    display: block;
}

.footer {
    display: none;
}

.phantom-footer {
    padding-left: 10px;
    p {
        margin: 0;
    }
    .timestamp-screenshot {
        font-size: 1.5rem;
        font-weight: bold;
    }
}

.footnotes {
    display: none;
}


