*.py[co]
*.sw[op]

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
node_modules

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

#Translations
*.mo

.DS_store

# Rendered files
www/*.html
www/css/*.min.*.css
www/css/*.min.css
www/css/*.less.css
www/css/font/*
www/css/icon/*
www/css/rendered/*.css
www/js/*.min.*.js
www/js/*.min.js
www/js/templates.js
www/js/app_config.js
www/js/includes/copy*.js
www/js/includes/app_config.js
www/test/test.html
www/comments/index.html
confs/rendered/*
www/js/rendered/*.js*
www/board*
www/bop*
www/county*
www/embeds*
www/map*
www/state*
www/get-caught-up*
www/navbar-liveblog*

# Local data
data/gdoc*.csv
data/copy.xls
data/copy.xlsx
data/briefing.xlsx
data/navbar.xlsx
www/assets/*
!www/assets/assetsignore
www/live-data/*
www/data/extra_data/state-briefings.json

#Logs
logs/*.log

www/map-election-results-standalone
etc/overridecss-states/rendered/*
etc/overridecss-boards/rendered/*
