<!DOCTYPE html>
<html lang="en">

<head>
    <!-- CHARTBEAT -->
    <script>
        var _sf_startpt = (new Date()).getTime();
    </script>

    <title></title>

    <base target="_top">

    <!-- META TAGS -->
    {% include '_meta.html' %}

    <!-- FONTS -->
    {% include '_fonts.html' %}

    <!-- CSS -->
    {{ CSS.push('less/%s.less' % slug) }}
    {% block extra_css %}{% endblock extra_css %}
    {{ CSS.render('css/rendered/%s.min.css' % slug) }}

    {% block extra_head %}
    {% endblock extra_head %}
</head>
<body>
    <script src="../js/app_config.js"></script>
    <script src="../js/rendered/analytics.js"></script>

    {% block content %}
    {% endblock content %}

    <script src="//pym.nprapps.org/pym.v1.min.js"></script>
    <script src="../js/includes/colors.js"></script>

    <script src="../js/rendered/{{ slug }}.js"></script>
</body>
</html>
