<!DOCTYPE html>
<html lang="en">

<head>
    <!-- CHARTBEAT -->
    <script>
        var _sf_startpt = (new Date()).getTime();
    </script>

    <title>{{ slug }}</title>

    <base target="_top">

    <!-- META TAGS -->
    {% include '_meta.html' %}

    <!-- FONTS -->
    {% include '_fonts.html' %}

    <!-- CSS -->
    {{ CSS.push('less/%s.less' % slug) }}
    {% block extra_css %}{% endblock extra_css %}
    {{ CSS.render('css/rendered/%s.min.css' % slug) }}

    {% if COPY.content.is_test_data|string == 'yes' %}
    <style type="text/css">
        .test-flag {
            background-color: #f00;
            color: #fff;
            font: bold 12px/1.3 "Helvetica Neue", Helvetica, Arial, sans-serif;
            margin-bottom: 22px;
            padding: 10px;
            text-align: center;
        }
    </style>
    {% endif %}

    {% block extra_head %}
    {% endblock extra_head %}
</head>
<body>
    <script src="../js/app_config.js"></script>
    <script src="../js/rendered/analytics.js"></script>

    {% if COPY.content.is_test_data|string == 'yes' %}
    <div class="test-flag">{{ COPY.content.test_label }}</div>
    {% endif %}

    {% block content %}
    {% endblock content %}

    <script src="//pym.nprapps.org/pym.v1.min.js"></script>
    <script src="../js/includes/colors.js"></script>

    <script src="../js/rendered/{{ slug }}.js"></script>
</body>
</html>
