<!DOCTYPE html>
<html lang="en">

<head>
    <!-- CHARTBEAT -->
    <script type="text/javascript">
        var _sf_startpt=(new Date()).getTime();
    </script>

    <title></title>

    <base target="_top">

    <!-- META TAGS -->
    {% include '_meta.html' %}

    <!-- FONTS -->
    {% include '_fonts.html' %}

    <!-- CSS -->
    {{ CSS.push('less/%s.less' % slug) }}
    {% block extra_css %}{% endblock extra_css %}
    {{ CSS.render('css/rendered/%s.min.css' % slug) }}

    {% block extra_head %}
    {% endblock extra_head %}
    <script src="{{ S3_BASE_URL }}/js/lib/modernizr.js"></script>
</head>
<body>
    <script src="{{ S3_BASE_URL }}/js/app_config.js"></script>
    <!-- ANALYTICS JAVASCRIPT -->
    {% if DEPLOYMENT_TARGET %}
    <script src="{{ S3_BASE_URL }}/js/rendered/analytics.min.js"></script>
    {% else %}
    <script src="{{ S3_BASE_URL }}/js/rendered/analytics.js"></script>
    {% endif %}

    {% block content %}
    {% endblock content %}

    <script src="//pym.nprapps.org/pym.v1.min.js" type="text/javascript"></script>
    <script src="{{ S3_BASE_URL }}/js/includes/colors.js" type="text/javascript"></script>
    {% if DEPLOYMENT_TARGET %}

    <script src="{{ S3_BASE_URL }}/js/rendered/{{ slug }}.min.js"></script>
    {% else %}
    <script src="{{ S3_BASE_URL }}/js/rendered/{{ slug }}.js"></script>
    {% endif %}    
</body>
</html>
