<div id="graphic" class="loading">
    <div class="map">
        {% include 'electoral-cartogram.svg' %}
    </div>
    <div id="tooltip"></div>
    <div id="county-selector">
        <select>
            <option selected>Get county-level results...</option>
            {% for state in COPY.county_data %}
            <option value="{{ state.url }}">{{ state.fullname }}</option>
            {% endfor %}
        </select>
    </div>
</div>

{% if COPY.map.footnote %}
<div class="footnotes">
    <p><strong>Note:</strong> {{ COPY.map.footnote|smarty }}</p>
</div>
{% endif %}

<div class="footer">
    {% if COPY.map.source %}<p>Source: {{ COPY.map.source|smarty }}</p>{% endif %}
    {% if COPY.map.credit %}<p>Credit: {{ COPY.map.credit|smarty }}</p>{% endif %}
    <div class="countdown">
        <span class="update-indicator">Next update: <b class="icon icon-spin3"></b> <span class="text"></span></span>
    </div>
</div>
<div class="phantom-footer">

    <div class="timestamp-screenshot-wrapper">
        <p class="timestamp-screenshot"></p>
        {% if COPY.map.source %}<p>Source: {{ COPY.map.source|smarty }}</p>{% endif %}
    </div>

    <p class="logo">
        <img src="../assets/npr-politics-logo.png" />
    </p>
</div>

</div>

<script type="text/javascript">
    var COUNTY_DATA = {{ COPY.county_data.json()|safe }};
    var LEGEND = {{ COPY.legend.json()|safe }};
    var POLL_TIMES = {{ COPY.poll_times.json()|safe }};
</script>
