<div id="results-nav-wrapper">
    <nav class="results-nav">

        <div class="results-logo">
            <span class="election-year">2016</span>
            <span class="election-name">Election</span>
        </div>


            <input type="checkbox" id="small-screen-nav-checkbox" />

            <label for="small-screen-nav-checkbox" class="toggle small-screen-nav-label">view results</label>

            <ul class="menu">

                <li><a href="#">live blog</a></li>

                <li><a href="../board-president">president</a></li>

                <li><a href="../board-senate">senate</a></li>

                <li><a href="../board-house">house</a></li>

                <li><a href="../board-governor">governor</a></li>

                <li><a href="../board-ballot">ballot</a></li>

                <li class="state-nav">

                    <input type="checkbox" id="state-nav-checkbox" />

                    <label for="state-nav-checkbox" class="state-nav-label">state results </label>

                    <ul>
                        <li>
                        <div class="first-group">
                            <p><a href="../state-results?state=al">Alabama</a></p>
		                    <p><a href="../state-results?state=ak">Alaska</a></p>
		                    <p><a href="../state-results?state=az">Arizona</a></p>
		                    <p><a href="../state-results?state=ar">Arkansas</a></p>
		                    <p><a href="../state-results?state=ca">California</a></p>
		                    <p><a href="../state-results?state=co">Colorado</a></p>
		                    <p><a href="../state-results?state=ct">Connecticut</a></p>
		                    <p><a href="../state-results?state=de">Delaware</a></p>
		                    <p><a href="../state-results?state=dc">D.C.</a></p>
		                    <p><a href="../state-results?state=fl">Florida</a></p>
		                    <p><a href="../state-results?state=ga">Georgia</a></p>
		                    <p><a href="../state-results?state=hi">Hawaii</a></p>
		                    <p><a href="../state-results?state=id">Idaho</a></p>
		                    <p><a href="../state-results?state=il">Illinois</a></p>
		                    <p><a href="../state-results?state=in">Indiana</a></p>
		                    <p><a href="../state-results?state=ia">Iowa</a></p>
		                    <p><a href="../state-results?state=ka">Kansas</a></p>
                        </div>

                        <div class="second-group">
                            <p><a href="../state-results?state=ky">Kentucky</a></p>
                            <p><a href="../state-results?state=la">Louisiana</a></p>
                            <p><a href="../state-results?state=me">Maine</a></p>
                            <p><a href="../state-results?state=md">Maryland</a></p>
                            <p><a href="../state-results?state=ma">Massachusetts</a></p>
                            <p><a href="../state-results?state=mi">Michigan</a></p>
                            <p><a href="../state-results?state=mn">Minnesota</a></p>
                            <p><a href="../state-results?state=ms">Mississippi</a></p>
                            <p><a href="../state-results?state=mo">Missouri</a></p>
                            <p><a href="../state-results?state=mt">Montana</a></p>
                            <p><a href="../state-results?state=ne">Nebraska</a></p>
                            <p><a href="../state-results?state=nv">Nevada</a></p>
                            <p><a href="../state-results?state=nh">New Hampshire</a></p>
                            <p><a href="../state-results?state=nj">New Jersey</a></p>
                            <p><a href="../state-results?state=nm">New Mexico</a></p>
                            <p><a href="../state-results?state=ny">New York</a></p>
                            <p><a href="../state-results?state=nc">North Carolina</a></p>
                        </div>

                        <div class="third-group">
                            <p><a href="../state-results?state=nd">North Dakota</a></p>
		                    <p><a href="../state-results?state=oh">Ohio</a></p>
		                    <p><a href="../state-results?state=ok">Oklahoma</a></p>
		                    <p><a href="../state-results?state=or">Oregon</a></p>
		                    <p><a href="../state-results?state=pa">Pennsylvania</a></p>
		                    <p><a href="../state-results?state=ri">Rhode Island</a></p>
		                    <p><a href="../state-results?state=sc">South Carolina</a></p>
		                    <p><a href="../state-results?state=sd">South Dakota</a></p>
		                    <p><a href="../state-results?state=tn">Tennessee</a></p>
		                    <p><a href="../state-results?state=tx">Texas</a></p>
		                    <p><a href="../state-results?state=ut">Utah</a></p>
		                    <p><a href="../state-results?state=vt">Vermont</a></p>
		                    <p><a href="../state-results?state=vi">Virginia</a></p>
		                    <p><a href="../state-results?state=wa">Washington</a></p>
		                    <p><a href="../state-results?state=wv">West Virginia</a></p>
		                    <p><a href="../state-results?state=wi">Wisconsin</a></p>
		                    <p><a href="../state-results?state=wy">Wyoming</a></p>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</div> <!-- / results-nav-wrapper -->
