<div id="results-nav-wrapper">
    <nav class="results-nav">

        <div class="results-logo">
            <span class="election-year">2016</span>
            <span class="election-name">Election</span>
        </div>

        <input type="checkbox" id="small-screen-nav-checkbox" />

        <label for="small-screen-nav-checkbox" class="toggle small-screen-nav-label">view results</label>

        <ul class="menu">

            {% for item in NAVBAR.nav %}
            <li>
                <a data-relative-href="{{ item.relativepath }}" data-seamus-id="{{ item.seamusid }}">{{ item.label }}</a>
            </li>
            {% endfor %}
        </ul>

        <ul>
            <li class="state-nav">

                <input type="checkbox" id="state-nav-checkbox" />
                <label for="state-nav-checkbox" class="state-nav-label">state results </label>

                <ul class="states">
                    <li>
                        {% for column in NAVBAR.states|slice(3) %}
                        <div class="group-{{ loop.index }}">
                            {% for state in column %}
                                <p><a href="http://www-s1.npr.org/templates/story/story.php?storyId={{ state.seamusid }}" data-relative-href="{{ state.relativepath }}" data-seamus-id="{{ state.seamusid }}">{{ state.label }}</a></p>
                            {% endfor %}
                        </div>
                        {% endfor %}
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</div> <!-- / results-nav-wrapper -->
