<div id="results-nav-wrapper">
    <nav class="results-nav">

        <div class="results-logo">
            <span class="election-year">2016</span>
            <span class="election-name">Election</span>
        </div>

            <label for="small-screen-nav-checkbox" class="toggle small-screen-nav-label">view results</label>
            <input type="checkbox" id="small-screen-nav-checkbox" />

            <ul class="menu">

                <li><a href="#">live blog</a></li>

                <li><a href="#">president</a></li>

                <li><a href="#">senate</a></li>

                <li><a href="#">house</a></li>

                <li><a href="#">governor</a></li>

                <li><a href="#">ballot</a></li>

                <li class="state-nav">

                    <input type="checkbox" id="state-nav-checkbox" />

                    <label for="state-nav-checkbox" class="state-nav-label">state results </label>

                    <ul>
                        <li>
                        <div class="first-group">
                            <p><a href="alabama/">Alabama</a></p>
		                    <p><a href="alaska/">Alaska</a></p>
		                    <p><a href="arizona/">Arizona</a></p>
		                    <p><a href="arkansas/">Arkansas</a></p>
		                    <p><a href="california/">California</a></p>
		                    <p><a href="colorado/">Colorado</a></p>
		                    <p><a href="connecticut/">Connecticut</a></p>
		                    <p><a href="delaware/">Delaware</a></p>
		                    <p><a href="district-of-columbia/">District of Columbia</a></p>
		                    <p><a href="florida/">Florida</a></p>
		                    <p><a href="georgia/">Georgia</a></p>
		                    <p><a href="hawaii/">Hawaii</a></p>
		                    <p><a href="idaho/">Idaho</a></p>
		                    <p><a href="illinois/">Illinois</a></p>
		                    <p><a href="indiana/">Indiana</a></p>
		                    <p><a href="iowa/">Iowa</a></p>
		                    <p><a href="kansas/">Kansas</a></p>
                        </div>

                        <div class="second-group">
                            <p><a href="kentucky/">Kentucky</a></p>
                            <p><a href="louisiana/">Louisiana</a></p>
                            <p><a href="maine/">Maine</a></p>
                            <p><a href="maryland/">Maryland</a></p>
                            <p><a href="massachusetts/">Massachusetts</a></p>
                            <p><a href="michigan/">Michigan</a></p>
                            <p><a href="minnesota/">Minnesota</a></p>
                            <p><a href="mississippi/">Mississippi</a></p>
                            <p><a href="missouri/">Missouri</a></p>
                            <p><a href="montana/">Montana</a></p>
                            <p><a href="nebraska/">Nebraska</a></p>
                            <p><a href="nevada/">Nevada</a></p>
                            <p><a href="new-hampshire/">New Hampshire</a></p>
                            <p><a href="new-jersey/">New Jersey</a></p>
                            <p><a href="new-mexico/">New Mexico</a></p>
                            <p><a href="new-york/">New York</a></p>
                            <p><a href="north-carolina/">North Carolina</a></p>
                        </div>

                        <div class="third-group">
                            <p><a href="north-dakota/">North Dakota</a></p>
		                    <p><a href="ohio/">Ohio</a></p>
		                    <p><a href="oklahoma/">Oklahoma</a></p>
		                    <p><a href="oregon/">Oregon</a></p>
		                    <p><a href="pennsylvania/">Pennsylvania</a></p>
		                    <p><a href="rhode-island/">Rhode Island</a></p>
		                    <p><a href="south-carolina/">South Carolina</a></p>
		                    <p><a href="south-dakota/">South Dakota</a></p>
		                    <p><a href="tennessee/">Tennessee</a></p>
		                    <p><a href="texas/">Texas</a></p>
		                    <p><a href="utah/">Utah</a></p>
		                    <p><a href="vermont/">Vermont</a></p>
		                    <p><a href="virginia/">Virginia</a></p>
		                    <p><a href="washington/">Washington</a></p>
		                    <p><a href="west-virginia/">West Virginia</a></p>
		                    <p><a href="wisconsin/">Wisconsin</a></p>
		                    <p><a href="wyoming/">Wyoming</a></p>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</div> <!-- / results-nav-wrapper -->
